@import url('https://fonts.googleapis.com/css?family=Cantarell:700|Monoton|Open+Sans:600');

* {
  font-family: 'Open Sans', sans-serif;
}
body {
  background: #de6161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.logoSwipe {
  font-family: 'Monoton', cursive;
}

.logoSmooth{
  font-family: 'Cantarell', sans-serif;
}

.menuItem {
  margin: 2%;
} 

.gameTile {
  width: 569px;
  height: 320px;
  margin-top: 4%;
  text-align: center;
  box-shadow: 3px 3px 10px darkslategray;
  background-size: cover;
  /*background-attachment: fixed;*/
}

.gameTileInfo {
  color: white;
  background: #070000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: .80;
  margin: 0px;
  margin-top: 30%;
}

.headerMenu {
  height: 100%;
}

.menuItem {
  color: white;
}

.menuItem:hover {
  color: darkgrey;
  text-decoration: none;
  -webkit-transition: color .3s; /* Safari */
  transition: color .3s;
}

.logo {
  color: white;
}
