@import url('https://fonts.googleapis.com/css?family=Cantarell:700|Monoton|Open+Sans:300');

* {
  font-family: 'Open Sans', sans-serif;
  color: white
}
/*
html {
  position: relative;
  min-height: 100%;
}*/

a,
a:hover {
    text-decoration: none !important;
}

body {
  background: #de6161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.logoSwipe {
  font-family: 'Monoton', cursive;
}

.logoSmooth{
  font-family: 'Cantarell', sans-serif;
}

.menuItem {
  margin: 2%;
} 

.gameTile {
  margin: 3%;
  min-width: 100px;
  text-align: center;
  background-size: cover;
  position: relative;
  max-width: 500px;
  display: inline-block;
  /*margin-left: 24%;*/
  /*background-attachment: fixed;*/
}

.gameTileImg {
  width: 100%;
}

.gameTile,
.loadgif,
.ssImg,
.gameDetailsCoverImg,
.likeItemImg,
.inputWarn {
  box-shadow: 3px 3px 10px black;
}

.gameTileHeader {
  margin-top: 0px;
}

.gameTileInfo {
  color: white;
  background: #070000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: .80;
  margin: 0px;
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  padding: 1%;
  overflow: hidden;
  /*margin-top: 30%;*/
}

.miniText {
  font-size: 12px;
}

.headerMenu {
  height: 100%;
}

.menuItem,
.logo {
  color: white;
}

.menuItem:hover,
.logo:hover,
.whiteLink:hover {
  border-bottom: 0px dashed darkslategrey;
  color: darkslategrey;
  -webkit-transition: color .3s; /* Safari */
  transition: color .3s;
}

.footer {
  /*position: absolute;
  left: 0;
  bottom: 0;*/
  height: 100px;
  width: 100%;
  overflow:hidden;
  color: white;
}

footer.p {
  padding-top: 50px;
}

.footerArea {
  margin-top: 3%;
}

.selectpicker {
  height: 100%;
  width: 100%;
}

.filterHolder {
  height: auto;
  margin: 3%;
  
}

.inputWarn {
  font-style: italic;
  font-weight: bolder;
  background: white;
  padding: 15px;
  width: 100%;
  max-width: 200px;
  margin: 3%;
  display: none;
  position: fixed;
  top: 49%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.platformDetails {
  margin-left: 2%;
}

.gameTileLink {
  color: white;
}

.gameTileLink:hover {
  color: whitesmoke;
}

.gameTileInfo:hover {
  opacity: 1.0;
  -webkit-transition: opacity .3s; /* Safari */
  transition: opacity .3s;
}

.loadgif {
  border-radius: 100%;
  width: 100%;
  max-width: 200px;
}

.ssRow,
.ssImg,
.gameDetailContainer,
.swipeButton,
.removeButton {
  margin: 2%;
}

.ssRow,
.ssImg {
  max-height: 35vh;
}

.gameDetailsCoverImg {
  max-width: 960px;
  /*width: 100%;*/
  max-height: 75vh;
}

.formWrapper {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

form {
  margin: 0px;
}

.btn-primary {
  background: #070000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-primary:hover {
  background: #070000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, darkslategray, #4C0001, darkslategray);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, darkslategray, #4C0001, darkslategray); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: background-color .7s; /* Safari */
  transition: background-color .7s;
}

.inputBar {
  margin-top: 3%;
  margin-bottom: 3%;
}

.headerArea {
  margin-left: 5%;
  margin-right: 5%;
}

option {
  color: darkslategray;
}

.swipeButton,
.removeButton {
  min-width: 100px;
}

.likeItemImg {
  float: left;
  width: 100%;
}

.likeItem {
  padding: 1%;
  border-top: 1px solid darkslategray;
  text-align: left;
}

.italic {
  font-style: italic;
}

.likeButton,
.greenish {
  background: #00b09b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.likeButton:hover,
.greenish:hover {
  background: green;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96c93f, green);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93f, green); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.disLikeButton,
.removeButton,
.redish {
  background: #cb2d3e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.disLikeButton:hover,
.removeButton:hover,
.redish:hover {
  background: darkred;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, darkred, #cb2d3f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, darkred, #cb2d3f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.swipeButton {
  min-width: 200px;
  padding: 1%;
  font-weight: bold;
}

.likeListButtonHolder {
  position: relative;
  height: 100%;
}

.removeButton {
  position: absolute;
  top: 0px;
  margin-top: 25%;
  margin-bottom: 25%;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.cboxHolder {
  float: left;
  /*margin: 3px;*/
}


.swipeImg {
  width: 100%;
  height: 50%
}

.cboxHolder {
  margin-right: 1%;
  margin-bottom: 1%;
}

.goodWarn {
  color: green;
  display: initial;
}

.badWarn {
  color: red;
  display: initial;
}

.searchBar {
  width: 100%;
  /*margin-top: 2%;*/
}

.goButton,
.searchParts {
  height: 40px;
}

input,
button {
  border-radius: 2px !important;
}

.navEle {
  width: 100%;
}

.whiteLink {
  color: white;
  border-bottom: 2px dashed darkslategrey;
}

.inGameButton {
  width: 100px;
  margin: 1%;
}

.gameTileHeaderHolder {
  margin-bottom: 1%;
}



