@import url('https://fonts.googleapis.com/css?family=Cantarell:700|Monoton|Open+Sans:600');

* {
  font-family: 'Open Sans', sans-serif;
  color: white
}

a,
a:hover {
    text-decoration: none !important;
}

body {
  background: #de6161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.logoSwipe {
  font-family: 'Monoton', cursive;
}

.logoSmooth{
  font-family: 'Cantarell', sans-serif;
}

.menuItem {
  margin: 2%;
} 

.gameTile {
  margin: 3%;
  width: 30vp;
  min-width: 100px;
  text-align: center;
  background-size: cover;
  position: relative;
  max-width: 500px;
  display: inline-block;
  /*margin-left: 24%;*/
  /*background-attachment: fixed;*/
}

.gameTileImg {
  width: 100%;
  max-width: 569px;

}

.gameTile,
.loadgif,
.ssImg,
.gameDetailsCoverImg {
  box-shadow: 3px 3px 10px darkslategray;
}

.gameTileHeader {
  margin-top: 0px;
}

.gameTileInfo {
  color: white;
  background: #070000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: .80;
  margin: 0px;
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  padding: 1%;
  /*margin-top: 30%;*/
}

.miniText {
  font-size: 12px;
}

.headerMenu {
  height: 100%;
}

.menuItem,
.logo {
  color: white;
}

.menuItem:hover,
.logo:hover {
  color: darkslategrey;
  -webkit-transition: color .3s; /* Safari */
  transition: color .3s;
}

.footer {
  padding: 35px;
  bottom: 0;
  margin-top: 40px;
  color: white;
}

.selectpicker {
  height: 100%;
  width: 100%;
}

.filterHolder {
  height: auto;
}

.inputWarn {
  color: red;
  font-style: italic;
}

.platformDetails {
  margin-left: 3px;
}

.gameTileLink {
  color: white;
}

.gameTileLink:hover {
  color: whitesmoke;
}

.gameTileInfo:hover {
  opacity: 1.0;
  -webkit-transition: opacity .3s; /* Safari */
  transition: opacity .3s;
}

.loadgif {
  border-radius: 100%;
}

.ssRow,
.ssImg,
.gameDetailContainer {
  margin: 2%;
}

.ssRow,
.ssImg {
  max-height: 35vh;
}

.gameDetailsCoverImg {
  max-width: 960px;
  width: 100%;
}

.formWrapper {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

form {
  margin: 0px;
}

.btn-primary {
  background: #070000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-primary:hover {
  background: #070000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, darkslategray, #4C0001, darkslategray);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, darkslategray, #4C0001, darkslategray); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: background-color .7s; /* Safari */
  transition: background-color .7s;
}

.form-control {
  margin-top: 3%;
  margin-bottom: 3%;
}

.headerArea {
  margin-left: 5%;
  margin-right: 5%;
}

option {
  color: darkslategray;
}

.swipeButton {
  margin: 2%;
  min-width: 100px;
}